/* Styles.css */

/**************************** styles of control panel *************************/
#menu_well {
position:absolute;
bottom:0px;
left:30px;
opacity: 0.85;
}

#menu_well:hover {
opacity:1.0;
}

#menu_content {

    padding-left: 0px;
    padding-right: 0px;
}


.scroll-section {
    overflow:auto;
    padding-top: 4px;
    height:150px;
}

.thumbnail_span {
    margin-left: 5px;
}

td {
    margin-top:50%;

}

td, th {
  border: 0 !important;
} 

.model-designer-button{
    width:185px;
}

.model-designer-dropdown {
    position: absolute;
    z-index:10;
}

.content-accordion {
 background-color:white;

}

.content-accordion-inner {
 padding-bottom: 4px;
 padding-top: 4px;
}

/**************************** styles of details panel *************************/

#details_well {
 position:absolute;
 bottom:0px;
 right:30px;
 opacity: 0.85;

}

#details_well:hover {
 opacity:1.0;
}

#toggle_button_details {
	margin-top:-5px;
	
}


#details-accordion {
 margin-bottom: 0;
}

#details-header {
 margin-top:10px;
 font-size:100%
}

#details-tabs {
 /*height:300px; */
 margin-bottom:10px;
}

#comments-list {
 width: 400px;
}

.thumb-for-list {
 /*width: 100%;*/
}

#comment-string {
 
}

.comment_thumbnail_span {
    margin-right: 15px;
}

#submit-button {
 margin-top:10px;
}

.fb-like {
 width:105px;
 height:21px;
 margin-top:15px;
 overflow:auto;
 position:relative;

}

.comment {
 margin-bottom:-12px;
}

#additional-data-list{
 width: 400px;
 height: 291px;
}

#details-collapse {
 background-color:white;
}

.modal-backdrop:hover {
	z-index:0;
}

#myModal{
	
}

#other-models-list {
 width: 400px;
 height: 190px;
}